@using Microsoft.AspNet.Identity
@using Pop.ly.Models;

<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link" href="/ShoppingCart/"><i class="fas fa-shopping-cart"></i> Cart</a>
    </li>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-nav ml-auto" }))
        {
            @Html.AntiForgeryToken()


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.GetUserName() <i class="fas fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Administrate Website", "Index", "Administration", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <div class="dropdown-divider"></div>
                    }
                    <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })</li>
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                </ul>
            </li>

        }
    }
    else
    {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account <i class="fas fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                    <li class="dropdown-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })</li>
                    <li class="dropdown-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })</li>
                </ul>
            </li>
    }
</ul>