
@model Pop.ly.Models.Database.Movie

<a class="MovieCardWrapper" href="/Movie/?T=@Model.Title&Y=@Model.ReleaseYear">
    <div class="SingleMovie" style="background-image: url(@Model.CoverArt)">
        <div class="SingleMovieDetails">
            <h5>@Model.Title</h5>
            <p class="">
                @Model.ReleaseYear
                <div class="MovieRating">
                    <span class="stars">@Model.Rating</span>
                </div>
                <div>
                    <span class="badge badge-pill badge-golden justify-content-center"><i class="fas fa-dollar-sign"></i> @Model.Price</span>
                </div>
            </p>
        </div>
    </div>
</a>